<!DOCTYPE html>
<html>
  <head>
    <title>Animetflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logo = "<%= image_url('animetflix_logo_blue.png') %>";
      window.downArrow = "<%= image_url('down_arrow.png') %>";
      window.leftArrow = "<%= image_url('left_arrow.png') %>";
      window.rightArrow = "<%= image_url('right_arrow.png') %>";
      window.playButton = "<%= image_url('play_button.png') %>";
      window.forwardTen = "<%= image_url('forward_10.png') %>";
      window.backTen = "<%= image_url('back_10.png') %>";
      window.mute = "<%= image_url('mute.png') %>";
      window.volume = "<%= image_url('volume.png') %>";
      window.add = "<%= image_url('add.png') %>";
      window.check = "<%= image_url('check.png') %>";
      window.db = "<%= image_url("dragon_ball_sil.png") %>"
      window.na = "<%= image_url("naruto_sil.png") %>"
      window.op = "<%= image_url("one_piece_sil.png") %>"
      window.po = "<%= image_url("poke_sil.png") %>"
      window.sm = "<%= image_url("sail_moon_sil.png") %>"
      window.at = "<%= image_url("titan_sil_bw.png") %>"
      window.miniLogos = [
        "<%= image_url("dragon_ball_sil.png") %>",
        "<%= image_url("one_piece_sil.png") %>",
        "<%= image_url("titan_sil_bw.png") %>",
        "<%= image_url("naruto_sil.png") %>",
        "<%= image_url("sail_moon_sil.png") %>",
        "<%= image_url("poke_sil.png") %>"
      ]
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body id="main-body">
    <%= yield %>
  </body>
</html>

